<html>
    <head>
        <title>Django Girls blog Santiago del Estero</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 09.12.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Este es mi primer proyecto Python, lo hicimos en el Nodo Tecnologico de Santiago del Estero...Un proyecto autoguiado .. divertido y facil.</p>
        </div>

        <div>
            <p>published:09.12.2016, 12:14, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Somos las Mayitas.. con la mamacha Anahi.. que hace conjuros y alguna que otra altimaña y no entiende nada.</p>
        </div>
    </body>
</html>
